In [2]:
import pandas as pd

# load the file stereotypes_global_v2.csv

df = pd.read_csv('stereotypes_global_v2.csv', encoding='latin-1', sep=';')
display(df)

,identity,attribute,region_stereo,region_nonstereo,region_unsure,NA_stereo,NA_nonstereo,NA_unsure,Annotation1,Annotation2,Annotation3,mean offensiveness_score
0,Afghans,terrorism,3,0,0,2,1,0,4.0,4.0,4.0,4.000000
1,Afghans,criminal,3,0,0,1,2,0,4.0,4.0,4.0,4.000000
2,Afghans,thief,2,1,0,1,2,0,4.0,4.0,4.0,4.000000
3,Afghans,violent,3,0,0,2,1,0,4.0,4.0,3.0,3.666667
4,Afghans,cruel,3,0,0,1,2,0,4.0,4.0,3.0,3.666667
...,...,...,...,...,...,...,...,...,...,...,...,...
6776,Zimbabwean,rich,0,3,0,1,2,0,-1.0,-1.0,-1.0,-1.000000
6777,Zimbabwean,intelligent,0,3,0,1,2,0,-1.0,-1.0,-1.0,-1.000000
6778,Zimbabwean,friendly,0,3,0,1,2,0,-1.0,-1.0,-1.0,-1.000000
6779,Zimbabwean,hardworking,0,3,0,1,2,0,-1.0,-1.0,-1.0,-1.000000
6780,Zimbabwean,progressive,0,3,0,1,2,0,-1.0,-1.0,-1.0,-1.000000

In [8]:
# we filter the dataset to considere british stereotypes
df = df[df['identity'] == 'British']
display(df)

# we sort on the region_stereo column
df = df.sort_values(by=['region_stereo'], ascending=False)
display(df.head(10))

# we sort on the NA_stereo column
df = df.sort_values(by=['NA_stereo'], ascending=False)
display(df.head(10))

,identity,attribute,region_stereo,region_nonstereo,region_unsure,NA_stereo,NA_nonstereo,NA_unsure,Annotation1,Annotation2,Annotation3,mean offensiveness_score
1411,British,snob,6,0,0,6,0,0,2.0,NaN,NaN,1.666667
1439,British,proper,5,1,0,4,2,0,-1.0,-1.0,-1.0,-0.500000
1407,British,arrogant,3,0,0,3,0,0,2.0,4.0,1.0,2.333333
1442,British,intelligent,3,0,0,2,1,0,-1.0,-1.0,-1.0,-1.000000
1417,British,good at making tea,3,0,0,3,0,0,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1474,British,bought,0,3,0,1,2,0,-1.0,-1.0,-1.0,-1.000000
1473,British,colour,0,3,0,1,2,0,-1.0,-1.0,-1.0,-1.000000
1472,British,eat lot,0,3,0,3,0,0,-1.0,-1.0,-1.0,-1.000000
1433,British,genero,0,3,0,2,1,0,NaN,NaN,NaN,0.000000
1476,British,affectionate,0,3,0,1,2,0,-1.0,-1.0,-1.0,-1.000000

,identity,attribute,region_stereo,region_nonstereo,region_unsure,NA_stereo,NA_nonstereo,NA_unsure,Annotation1,Annotation2,Annotation3,mean offensiveness_score
1411,British,snob,6,0,0,6,0,0,2.0,NaN,NaN,1.666667
1439,British,proper,5,1,0,4,2,0,-1.0,-1.0,-1.0,-0.500000
1407,British,arrogant,3,0,0,3,0,0,2.0,4.0,1.0,2.333333
1446,British,witty,3,0,0,2,1,0,-1.0,-1.0,-1.0,-1.000000
1418,British,british,3,0,0,2,1,0,NaN,NaN,NaN,0.000000
1414,British,snobby,3,0,0,3,0,0,1.0,0.0,1.0,0.666667
1413,British,snooty,3,0,0,3,0,0,1.0,1.0,1.0,1.000000
1412,British,conceited,3,0,0,1,2,0,3.0,-1.0,2.0,1.333333
1441,British,drink tea,3,0,0,2,1,0,-1.0,-1.0,-1.0,-1.000000
1419,British,pompous,3,0,0,2,1,0,2.0,-1.0,-1.0,0.000000

,identity,attribute,region_stereo,region_nonstereo,region_unsure,NA_stereo,NA_nonstereo,NA_unsure,Annotation1,Annotation2,Annotation3,mean offensiveness_score
1411,British,snob,6,0,0,6,0,0,2.0,NaN,NaN,1.666667
1439,British,proper,5,1,0,4,2,0,-1.0,-1.0,-1.0,-0.500000
1416,British,stiff upper lip,3,3,0,4,2,0,NaN,NaN,NaN,0.000000
1417,British,good at making tea,3,0,0,3,0,0,NaN,NaN,NaN,0.000000
1422,British,queen,2,1,0,3,0,0,NaN,NaN,NaN,0.000000
1472,British,eat lot,0,3,0,3,0,0,-1.0,-1.0,-1.0,-1.000000
1440,British,polite,3,0,0,3,0,0,-1.0,-1.0,-1.0,-1.000000
1436,British,imperialist,3,0,0,3,0,0,1.0,-1.0,-1.0,-0.333333
1435,British,sophisticated,3,0,0,3,0,0,-1.0,-1.0,1.0,-0.333000
1408,British,domineer,3,0,0,3,0,0,3.0,3.0,1.0,2.333333